n8n/WF-02-WA-OUTBOUND.json
{
  "name": "WF-02-WA-OUTBOUND",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-outbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-f001-4a5b-8c9d-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "webhookId": "wa-outbound"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "b1c2d3e4-f002-4a5b-8c9d-000000000002",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://easypanel.julianosalles.com.br/message/sendText/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "4DD73F0CC46E-407C-B70D-48C9175EC89B"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.contactIdentifier }}\",\n  \"text\": \"{{ $json.body.content }}\",\n  \"delay\": 1200\n}",
        "options": {}
      },
      "id": "b1c2d3e4-f003-4a5b-8c9d-000000000003",
      "name": "HTTP - Evolution API - sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-720, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ── Prepara resultado unificado para os nós downstream ────────────────────\nconst wh  = $('Webhook').first().json.body;\nconst evo = $input.first().json;\n\n// Função helper para limpar strings (remove whitespace/newlines)\nconst clean = (v) => (typeof v === 'string' ? v.trim() : (v || ''));\n\n// Evolution retorna { key: { remoteJid, fromMe, id }, ... } em caso de sucesso\nconst success = evo.key !== undefined && evo.key !== null && evo.error === undefined;\n\nreturn [{\n  json: {\n    conversationId:      clean(wh.conversationId),\n    companyId:           clean(wh.companyId),\n    contactIdentifier:   clean(wh.contactIdentifier),\n    content:             clean(wh.content),\n    agentId:             clean(wh.agentId),\n    instanceName:        clean(wh.instanceName),\n    success:             success,\n    evolutionMessageId:  success ? evo.key.id  : null,\n    evolutionError:      success ? null : JSON.stringify(evo.error || evo)\n  }\n}];"
      },
      "id": "b1c2d3e4-f004-4a5b-8c9d-000000000004",
      "name": "Code - Check Evolution Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9f8a7b6-c5d4-4e3f-a2b1-evo000000001",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1c2d3e4-f005-4a5b-8c9d-000000000005",
      "name": "IF - Evolution Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\":      \"{{ $json.conversationId }}\",\n  \"company_id\":           \"{{ $json.companyId }}\",\n  \"direction\":            \"outbound\",\n  \"sender_type\":          \"agent\",\n  \"sender_id\":            \"{{ $json.agentId }}\",\n  \"content\":              \"{{ $json.content }}\",\n  \"content_type\":         \"text\",\n  \"status\":               \"sent\",\n  \"external_message_id\": \"{{ $json.evolutionMessageId }}\",\n  \"metadata\":             { \"instanceName\": \"{{ $json.instanceName }}\" }\n}",
        "options": {}
      },
      "id": "b1c2d3e4-f006-4a5b-8c9d-000000000006",
      "name": "Supabase - Insert Message (Sent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 160]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/conversations?id=eq.{{ $('Code - Check Evolution Result').first().json.conversationId.trim() }}",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"last_message_at\":      \"{{ new Date().toISOString() }}\",\n  \"last_message_preview\": \"{{ $('Code - Check Evolution Result').first().json.content.substring(0, 80) }}\"\n}",
        "options": {}
      },
      "id": "b1c2d3e4-f007-4a5b-8c9d-000000000007",
      "name": "Supabase - Update Conversation Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $json.conversationId }}\",\n  \"company_id\":      \"{{ $json.companyId }}\",\n  \"direction\":       \"outbound\",\n  \"sender_type\":     \"agent\",\n  \"sender_id\":       \"{{ $json.agentId }}\",\n  \"content\":         \"{{ $json.content }}\",\n  \"content_type\":    \"text\",\n  \"status\":          \"failed\",\n  \"metadata\":        {}\n}",
        "options": {}
      },
      "id": "b1c2d3e4-f008-4a5b-8c9d-000000000008",
      "name": "Supabase - Insert Message (Failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 460]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 OK": {
      "main": [
        [
          {
            "node": "HTTP - Evolution API - sendText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Evolution API - sendText": {
      "main": [
        [
          {
            "node": "Code - Check Evolution Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Evolution Result": {
      "main": [
        [
          {
            "node": "IF - Evolution Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Evolution Success?": {
      "main": [
        [
          {
            "node": "Supabase - Insert Message (Sent)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Insert Message (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insert Message (Sent)": {
      "main": [
        [
          {
            "node": "Supabase - Update Conversation Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
