n8n/WF-05-AI-AGENT.json
{
  "name": "WF-05-AI-AGENT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "ai-agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true }",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [260, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-text-only",
              "leftValue": "={{ $json.body.content_type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "IF - Is Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsRequest(url, options, body) {\n  return new Promise(function(resolve, reject) {\n    const parsed = new URL(url);\n    const opts = Object.assign({ hostname: parsed.hostname, path: parsed.pathname + parsed.search, method: options.method || 'GET' }, options);\n    const req = https.request(opts, function(res) {\n      let data = '';\n      res.on('data', function(c) { data += c; });\n      res.on('end', function() { try { resolve(JSON.parse(data)); } catch(e) { resolve(data); } });\n    });\n    req.on('error', reject);\n    if (body) req.write(typeof body === 'string' ? body : JSON.stringify(body));\n    req.end();\n  });\n}\n\nconst raw = $input.first().json;\nconst body = raw.body != null ? raw.body : raw;\nconst { conversation_id, company_id, content_text, content_type } = body;\n\nconst SUPA_HOST = 'fhkhamwrfwtacwydukvb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY';\nconst supaHeaders = { apikey: SUPA_KEY, Authorization: 'Bearer ' + SUPA_KEY };\n\nconst get = function(path) {\n  return httpsRequest('https://' + SUPA_HOST + '/rest/v1/' + path, { headers: supaHeaders });\n};\n\nconst convData = await get('conversations?id=eq.' + conversation_id + '&company_id=eq.' + company_id + '&select=lead_id,channel_connection_id');\nif (!convData.length) return [{ json: { ai_enabled: false, error: 'conversation_not_found' } }];\nconst { lead_id, channel_connection_id } = convData[0];\n\nconst leadData = await get('leads?id=eq.' + lead_id + '&company_id=eq.' + company_id + '&select=column_id,phone,name');\nif (!leadData.length) return [{ json: { ai_enabled: false, error: 'lead_not_found' } }];\nconst { column_id, phone, name: lead_name } = leadData[0];\n\nconst stageData = await get('board_stages?id=eq.' + column_id + '&select=board_id');\nif (!stageData.length) return [{ json: { ai_enabled: false, error: 'stage_not_found' } }];\nconst { board_id } = stageData[0];\n\nconst boardData = await get('boards?id=eq.' + board_id + '&company_id=eq.' + company_id + '&select=ai_enabled,ai_prompt');\nif (!boardData.length) return [{ json: { ai_enabled: false, error: 'board_not_found' } }];\nconst { ai_enabled, ai_prompt } = boardData[0];\n\nconst connData = await get('channel_connections?id=eq.' + channel_connection_id + '&select=instance');\nconst instance_name = (connData[0] && connData[0].instance) || '';\n\nreturn [{ json: { conversation_id, company_id, content_text, content_type, lead_id, phone, lead_name, ai_enabled, ai_prompt, instance_name } }];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Code - Fetch Board Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-ai-enabled",
              "leftValue": "={{ $json.ai_enabled }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "IF - AI Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpsRequest(url, options, body) {\n  return new Promise(function(resolve, reject) {\n    const parsed = new URL(url);\n    const opts = Object.assign({ hostname: parsed.hostname, path: parsed.pathname + parsed.search, method: options.method || 'GET' }, options);\n    const req = https.request(opts, function(res) {\n      let data = '';\n      res.on('data', function(c) { data += c; });\n      res.on('end', function() { try { resolve(JSON.parse(data)); } catch(e) { resolve(data); } });\n    });\n    req.on('error', reject);\n    if (body) req.write(typeof body === 'string' ? body : JSON.stringify(body));\n    req.end();\n  });\n}\n\nconst config = $('Code - Fetch Board Config').first().json;\nconst { conversation_id, company_id, ai_prompt, instance_name, phone, content_text } = config;\n\nconst SUPA_HOST = 'fhkhamwrfwtacwydukvb.supabase.co';\nconst SUPA_KEY  = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY';\nconst EVO_HOST  = 'easypanel.julianosalles.com.br';\nconst EVO_KEY   = '4DD73F0CC46E-407C-B70D-48C9175EC89B';\nconst OPENAI_KEY = 'sk-CONFIGURE_SUA_CHAVE_OPENAI_AQUI';\n\nconst supaH = { apikey: SUPA_KEY, Authorization: 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json' };\n\nconst histData = await httpsRequest('https://' + SUPA_HOST + '/rest/v1/messages?conversation_id=eq.' + conversation_id + '&company_id=eq.' + company_id + '&order=sent_at.desc&limit=8', { headers: supaH });\n\nconst chatHistory = (Array.isArray(histData) ? histData : [])\n  .slice(1).reverse()\n  .map(function(m) { return { role: m.sender_type === 'lead' ? 'user' : 'assistant', content: (m.content || '').trim() }; })\n  .filter(function(m) { return m.content; });\n\nconst systemPrompt = (ai_prompt || '').trim() || 'Voce e um assistente de vendas profissional e cordial. Responda sempre em portugues brasileiro.';\nconst messages = [{ role: 'system', content: systemPrompt }].concat(chatHistory).concat([{ role: 'user', content: content_text }]);\n\nconst aiBody = JSON.stringify({ model: 'gpt-4o-mini', messages: messages, max_tokens: 500, temperature: 0.7 });\nconst aiData = await httpsRequest('https://api.openai.com/v1/chat/completions', { method: 'POST', headers: { Authorization: 'Bearer ' + OPENAI_KEY, 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(aiBody) } }, aiBody);\n\nconst choice = aiData.choices && aiData.choices[0];\nconst aiText = choice && choice.message && choice.message.content ? choice.message.content.trim() : null;\nif (!aiText) return [{ json: { ok: false, error: 'openai_no_response', detail: aiData } }];\n\nconst instanceEncoded = encodeURIComponent(instance_name);\nconst evoBody = JSON.stringify({ number: phone + '@s.whatsapp.net', text: aiText });\nawait httpsRequest('https://' + EVO_HOST + '/message/sendText/' + instanceEncoded, { method: 'POST', headers: { apikey: EVO_KEY, 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(evoBody) } }, evoBody);\n\nconst insBody = JSON.stringify({ p_company_id: company_id, p_conversation_id: conversation_id, p_external_message_id: 'agent-' + Date.now(), p_direction: 'outbound', p_sender_type: 'agent', p_content: aiText, p_content_type: 'text', p_sent_at: new Date().toISOString(), p_media_url: null, p_metadata: {} });\nawait httpsRequest('https://' + SUPA_HOST + '/rest/v1/rpc/insert_message', { method: 'POST', headers: Object.assign({ 'Content-Length': Buffer.byteLength(insBody) }, supaH) }, insBody);\n\nreturn [{ json: { ok: true, ai_response: aiText } }];"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Code - Run Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond 200 OK", "type": "main", "index": 0 },
          { "node": "IF - Is Text?",  "type": "main", "index": 0 }
        ]
      ]
    },
    "IF - Is Text?": {
      "main": [
        [{ "node": "Code - Fetch Board Config", "type": "main", "index": 0 }]
      ]
    },
    "Code - Fetch Board Config": {
      "main": [
        [{ "node": "IF - AI Enabled?", "type": "main", "index": 0 }]
      ]
    },
    "IF - AI Enabled?": {
      "main": [
        [{ "node": "Code - Run Agent", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
