n8n/WF-06-AGENT-ROUTER-V1.json
{
  "name": "WF-06-AGENT-ROUTER-V1",
  "nodes": [
    {
      "parameters": {
        "content": "## WF-06 — Agent Router V1\n**Exército Comercial de IA — Roteador Proativo**\n\nRoda a cada 5 minutos via cron.\nBusca TODOS os agentes ativos, checa horário de trabalho,\nfaz a fila de leads de cada agente e dispara WF-07.\n\n**Fluxo:**\nSchedule → Get Agents → Loop → Check Hours →\nGet Queue → Get Conversation → Loop → Trigger WF-07\n\n**URL do WF-07:** configure AGENT_EXECUTOR_WEBHOOK_URL nas env vars do n8n.\n(ex: https://seu-n8n.com/webhook/agent-executor)",
        "height": 240,
        "width": 460,
        "color": 6
      },
      "id": "wf06-note-001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "wf06-node-001",
      "name": "Schedule - Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/ai_agents",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_active",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "id,name,company_id,function_type,tone,niche,channels,work_hours_start,work_hours_end,timezone,escalate_rules,monthly_goal,goal_metric,playbook_id,is_active"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            }
          ]
        },
        "options": {}
      },
      "id": "wf06-node-002",
      "name": "HTTP - Get Active Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-agents",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf06-node-003",
      "name": "IF - Has Active Agents",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten agents array from HTTP response\nconst agents = $input.all().map(item => item.json);\n// If it's already a flat array of objects (Supabase REST returns JSON array)\nif (Array.isArray(agents[0])) {\n  return agents[0].map(a => ({ json: a }));\n}\nreturn agents.map(a => ({ json: a }));"
      },
      "id": "wf06-node-004",
      "name": "Code - Flatten Agents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf06-node-005",
      "name": "Loop - Agents",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const agent = $input.all()[0].json;\nconst now = new Date();\n\nconst tz = agent.timezone || 'America/Sao_Paulo';\n\nconst formatter = new Intl.DateTimeFormat('en-US', {\n  timeZone: tz,\n  hour: 'numeric',\n  minute: 'numeric',\n  hour12: false\n});\nconst parts = formatter.formatToParts(now);\nconst currentHour = parseInt(parts.find(p => p.type === 'hour').value);\nconst currentMinute = parseInt(parts.find(p => p.type === 'minute').value);\nconst currentTime = currentHour * 60 + currentMinute;\n\nconst parseTime = (t) => {\n  if (!t) return null;\n  const p = t.toString().split(':');\n  return parseInt(p[0]) * 60 + (parseInt(p[1] || 0));\n};\n\nconst start = parseTime(agent.work_hours_start) ?? 8 * 60;\nconst end = parseTime(agent.work_hours_end) ?? 18 * 60;\n\nconst dayFormatter = new Intl.DateTimeFormat('en-US', { timeZone: tz, weekday: 'short' });\nconst day = dayFormatter.format(now);\nconst isWeekday = !['Sat', 'Sun'].includes(day);\n\nconst withinHours = currentTime >= start && currentTime < end && isWeekday;\n\n// Return empty array if outside work hours — no IF node needed\nif (!withinHours) return [];\n\nreturn [{ json: { ...agent, _currentTime: currentTime, _day: day } }];"
      },
      "id": "wf06-node-006",
      "name": "Code - Check Work Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "within-hours",
              "leftValue": "={{ String($json._withinHours) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf06-node-007",
      "name": "IF - Within Work Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/rpc/get_agent_lead_queue",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_agent_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "p_limit",
              "value": "=5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "wf06-node-008",
      "name": "HTTP - Get Lead Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get agent data from previous node (Check Work Hours)\nconst agent = $('Code - Check Work Hours').first().json;\n\n// Get leads from RPC response\nconst rawLeads = $input.all().map(i => i.json);\nconst leads = Array.isArray(rawLeads[0]) ? rawLeads[0] : rawLeads;\n\nif (!leads || leads.length === 0) {\n  return []; // No leads to process\n}\n\n// Attach agent context to each lead\nreturn leads.map(lead => ({\n  json: {\n    lead_id: lead.lead_id || lead.id,\n    lead_name: lead.name,\n    lead_phone: lead.phone,\n    agent_id: agent.id,\n    agent_name: agent.name,\n    company_id: agent.company_id,\n    function_type: agent.function_type\n  }\n}));"
      },
      "id": "wf06-node-009",
      "name": "Code - Attach Agent to Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf06-node-010",
      "name": "IF - Has Leads",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        120
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf06-node-011",
      "name": "Loop - Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2400,
        40
      ]
    },
    {
      "parameters": {
        "url": "https://fhkhamwrfwtacwydukvb.supabase.co/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "=eq.{{ $json.lead_id }}"
            },
            {
              "name": "company_id",
              "value": "=eq.{{ $json.company_id }}"
            },
            {
              "name": "status",
              "value": "neq.closed"
            },
            {
              "name": "select",
              "value": "id,lead_id,status,ai_agent_id,contact_identifier"
            },
            {
              "name": "order",
              "value": "updated_at.desc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoa2hhbXdyZnd0YWN3eWR1a3ZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMyNjcxMywiZXhwIjoyMDgwOTAyNzEzfQ.slNbow0lzBpryTaPPNNPDOV5x_uBqRHQZR38RRk92sY"
            }
          ]
        },
        "options": {}
      },
      "id": "wf06-node-012",
      "name": "HTTP - Get Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Loop - Leads').first().json;\nconst convArr = $input.all().map(i => i.json);\nconst conv = Array.isArray(convArr[0]) ? convArr[0][0] : convArr[0];\n\nif (!conv || !conv.id) {\n  // No conversation found for this lead — skip\n  return [];\n}\n\nreturn [{\n  json: {\n    conversation_id: conv.id,\n    lead_id: lead.lead_id,\n    agent_id: lead.agent_id,\n    company_id: lead.company_id,\n    contact_identifier: conv.contact_identifier || lead.lead_phone || '',\n    input_text: '',\n    content_type: 'proactive'\n  }\n}];"
      },
      "id": "wf06-node-013",
      "name": "Code - Build WF07 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-conv",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf06-node-014",
      "name": "IF - Has Conversation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        40
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.julianosalles.com.br/webhook/agent-executor",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wf06-node-015",
      "name": "HTTP - Trigger WF-07",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "wf06-node-016",
      "name": "No Operation - No Agents",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {},
      "id": "wf06-node-017",
      "name": "No Operation - Off Hours",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        320
      ]
    },
    {
      "parameters": {},
      "id": "wf06-node-018",
      "name": "No Operation - No Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        240
      ]
    },
    {
      "parameters": {},
      "id": "wf06-node-019",
      "name": "No Operation - No Conv",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        160
      ]
    }
  ],
  "connections": {
    "Schedule - Every 5 min": {
      "main": [
        [
          {
            "node": "HTTP - Get Active Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Active Agents": {
      "main": [
        [
          {
            "node": "IF - Has Active Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Active Agents": {
      "main": [
        [
          {
            "node": "Code - Flatten Agents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation - No Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Flatten Agents": {
      "main": [
        [
          {
            "node": "Loop - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - Agents": {
      "main": [
        [],
        [
          {
            "node": "Code - Check Work Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Work Hours": {
      "main": [
        [
          {
            "node": "HTTP - Get Lead Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Within Work Hours": {
      "main": [
        [
          {
            "node": "HTTP - Get Lead Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation - Off Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Lead Queue": {
      "main": [
        [
          {
            "node": "Code - Attach Agent to Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Attach Agent to Leads": {
      "main": [
        [
          {
            "node": "IF - Has Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Leads": {
      "main": [
        [
          {
            "node": "Loop - Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation - No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - Leads": {
      "main": [
        [],
        [
          {
            "node": "HTTP - Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Conversation": {
      "main": [
        [
          {
            "node": "Code - Build WF07 Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build WF07 Payload": {
      "main": [
        [
          {
            "node": "IF - Has Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Conversation": {
      "main": [
        [
          {
            "node": "HTTP - Trigger WF-07",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation - No Conv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Trigger WF-07": {
      "main": [
        [
          {
            "node": "Loop - Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation - No Conv": {
      "main": [
        [
          {
            "node": "Loop - Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "exercito-comercial",
    "agents",
    "router"
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-18T00:00:00.000Z",
  "versionId": "wf06-v1"
}